<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<title>Default page - Powered by EasyCode</title>
		<link href="engine/view/css/global.css" rel="stylesheet" type="text/css" />
	</head>
	
<body>
	
	<div id="main_box">
		<div class="grey">
			<center>Welcome to the default page for EasyCode!</center></div>
		<p>This is the default page for EasyCode. If you would like to edit this content, goto: <b>engine/view/index.html</b>.</p>
	</div>
	
	<div id="footer_box"><center>Copyright &copy; Ekene Aneke - All rights reserved<br />Powered by EasyCode</center></div>
	
</body>
</html>