body {
	font-family: 'Trebuchet MS';
	background-color: grey;
}

#main_box {
	background-color: white;
	border: 1px solid black;
	border-radius: 4px 4px 4px 4px;
	width: 500px;
	margin: auto;
}

.grey {
	background-color: darkgrey;
	border: 1px solid;
	border-radius: 4px 4px 4px 4px;
	width: 455px;
	margin-top: 5px;
	margin-left: 20px;
}

p {
	padding-left: 15px;
}

#footer_box {
	background-color: white;
	border: 1px solid;
	border-radius: 4px 4px 4px 4px;
	width: 500px;
	margin-left: 424px;
	margin-top: 20px;
}